@import "breakpoints";
@import "mixins";
@import "utilityClasses";
@import "components/index";

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#content {
    max-width: 976px;
    margin: auto;
}
