#content {
    max-width: 976px;
    margin: auto;
}

.grid--5 {
    width: 200px;
}

.grid--8 {
    width: 320px;
}

.grid--10 {
    width: 400px;
}

.grid--12 {
    width: 480px;
}

.grid--16 {
    width: 640px;
}

.grid--20 {
    width: 800px;
}

.grid {
    vertical-align: top;
    display: inline-block;
    margin-right: 16px;
    margin-top: 32px;
    border: 1px solid black;
}

.square {
    display: inline-block;
    height: 38px;
    width: 38px;
    line-height: 38px;
    position: relative;
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
}

.clue-number {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
    line-height: 12px;
}

.square--blank {
    background-color: black;
}

.square--selected {
    background-color: yellow;
}

.clues {
    display: inline-block;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: blue;
}